<h1>Full Device Inventory</h1>

<table>
  <tr>
    <td>Fusion:</td>
    <td><%= @fusion %></td>
  </tr>
  <tr>
    <td>ER920w:</td>
    <td><%= @er920 %></td>
  </tr>
  <tr>
    <td>TeleSentry:</td>
    <td><%= @telesentry %></td>
  </tr>


<table class="reports">
  <tr>
    <th>Serial #</th>
    <th>Type</th>
    <th>Status</th>
  </tr>

<% @results.each do |device| %>
  <tr class="<%= cycle('odd','even') %>">
    <td><%= device.serial_number %></td>
    <td><%= device.device_type.device_type %></td>
    <td><%= device.device_status.device_status %></td>
  </tr>
<% end %>
</table>
<br />
