<h1>Problematic Devices</h1>

<table class="reports">
  <tr>
    <th>Device</th>
    <th>Problem</th>
    <th>Comment</th>
    <th>Status</th>
  </tr>

<% @devices.each do |device_problem| %>
  <tr class="<%= cycle('odd','even') %>">
    <td><%= device_problem.device.serial_number %>
    <td><%= device_problem.device_problem %></td>
    <td><%= device_problem.comment %></td>
    <td><%= device_problem.device_problem_status.device_problem_status %></td>
  </tr>
<% end %>
</table>
<br />
